* {
    -webkit-tap-highlight-color: transparent; /* For Android < 5 */
    tap-highlight-color: rgba(0, 0, 0, 0); /* For Android >= 5 */
}

@font-face {
    font-family: 'MalahitBold';
    src: url('fonts/Malahit_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c9deff;
    margin: 0;
    padding: 0;
    font-family: 'MalahitBold', Arial, sans-serif;
    background-image: url('images/bg_app.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 

}

 #answer1, #answer2 {
        background-color: lightblue;
        border: none;
        color: black; /* Font color set to black */
        padding: 15px 30px; /* Adjust padding to control button size */
        text-align: center;
        text-decoration: none;
        display: inline-block; /* Ensures buttons are inline and can have fixed size */
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px; /* Adjust the border radius as needed */
        font-family: 'MalahitBold', sans-serif; /* Custom font */
        margin-bottom: 20px; /* Adds spacing between buttons */
        font-size:20px;
    }
h4 {
    position: fixed;
    top: calc(50% - 300px);
    left: 50%;
    transform: translateX(-50%);
    margin: 0; 
    z-index: 1000; 
    font-size: 20px;
}

h2 {
    font-size:35px;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#energy-bar {
    position: absolute;
    width: 250px;
    height: 22px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.bar-container {
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}
.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 35px;
}
#counter {
    font-size: 48px;
    margin-right: 10px;
    margin-top: 145px;
}

#diamond-icon {
    width: 50px;
    height: 50px;
    margin-top: 105px;
}

#click-circle {
    width: 300px;
    height: 300px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
}

    #click-circle:hover {
        transform: scale(1.1);
    }

    #click-circle.active {
        transform: scale(1.05);
    }

#level-display,
#upgrade-price,
#restore-display,
#restore-price,
#up-display,
#up-price {
    font-family: 'MalahitBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    display: inline-block;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

    #level-display::before,
    #upgrade-price::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 100%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.17);
        border-radius: 25px; 
        z-index: -1;
    }

#upgrade-button,
#upgrade-button-1,
#upgrade-button-2 {
    background: none;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

progress {
    margin-top:1px;
    width: 240px;
    height: 20px;
    -webkit-appearance: none;
    border-radius: 33px;
    position: absolute; 
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

::-webkit-progress-value {
    background-color: orange;
    border-radius: 10px;
    
}

::-webkit-progress-bar{
    background-color:none;
    border-radius:10px;

}

#popup {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 55%; 
    background-color: rgba(255, 255, 255, 0.95);
    border-top: 1px solid #ccc;
    transition: bottom 0.5s ease;
    z-index: 100;
}

.popup-content {
    padding: 20px;
    overflow: hidden;
}

body.popup-active .container {
    filter: blur(5px); 
}

.upgrade-popup-content {
    line-height:1px;
}


div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
    animation: clickEffect 0.2s ease-out;
    z-index: 9999;
    pointer-events: none;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.falling-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/fall.png');
    animation: slideBackground 40s linear infinite;
    z-index: -1;
    opacity: 0.5;
}

#slider-value {
    margin-top: 15px;
    margin-bottom:15px;
    font-size:35px;
}

@keyframes slideBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 5% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}
@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.25em;
        height: 0.25em;
        margin: -0.125em;
        border-width: 0.25em;
    }

    100% {
        opacity: 0.2;
        width: 7.5em;
        height: 7.5em;
        margin: -3.75em;
        border-width: 0.03em;
    }

}

#open-popup-button {
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent; 
    outline: none; 
}

#menu-button {
    position: fixed;
    top: 5%; 
    left: 0%; 
    z-index: 1000000; 
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent; 
    outline: none; 
}


#menu-popup {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.95);
    border-top: 1px solid #ccc;
    transition: bottom 0.5s ease;
    z-index: 12;
}

.menu-popup-content {
    padding: 20px;

}
#upgrade-popup-button {
    position: fixed;
    top: 0%;
    left: 38%;
    z-index: 1000000;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    outline: none;
}

#skin-button {
    position: fixed;
    top: 5%; 
    left: 83%; 
    z-index: 1000000;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent; 
    outline: none; 
}
#skin-button-1,
#skin-button-2,
#skin-button-3,
#skin-button-4 {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

span {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}

#skin-popup {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.95);
    border-top: 1px solid #ccc;
    transition: bottom 0.5s ease;
    z-index: 12;
}

#upgrade-popup {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.95);
    border-top: 1px solid #ccc;
    transition: bottom 0.5s ease;
    z-index: 12;
}


.skin-popup-content {
    padding-bottom: 30px;
}


    button img,
    #diamond-icon,
    #click-circle,
    #open-popup-button img,
    #menu-button img,
    #skin-button img,
    .skin-popup-content img {
        max-width: 100%;
        height: auto;
    }

#popup,
#menu-popup,
#skin-popup,
#upgrade-popup {
    height: 55%;
    max-height: 70vh;
    overflow-y: auto;
    padding-bottom:30px;
}

#close-skin-popup-button {
    margin-top: 35px;
    width: 75%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

#close-menu-popup-button,
#menu-button-1,
#menu-button-2,
#close-upgrade-popup-button {
    width: 75%;
    height: 30px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

@media (max-width: 600px) {
    #click-circle {
        width: 50vw;
        height: 50vw;
    }

    #upgrade-button img,
    #open-popup-button img {
        width: 50vw;
        height: auto;
    }
}

@media (max-width: 400px) {
    #click-circle {
        width: 70vw;
        height: 70vw;
    }

    #upgrade-button img,
    #open-popup-button img {
        width: 70vw;
        height: auto;
    }
}