body {
    max-width: 500px;
    max-height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    font-family: "Gilroy", sans-serif;
}

.onboarding {
    padding: 1rem 1.2rem;
    background: linear-gradient(45deg, #EEEEFF 51%, #F9F6FF 100%);
    /* background: url("../images/onboarding/bg.jpg"); */
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.swiper {
    width: 100%;
    /* height: 80%; */
  /* height: 250px; */
}

.swiper-scrollbar {
    background: #C4C4C4;
    height: 0.4rem !important;
}

.swiper-scrollbar-drag {
    background: #4B25DF;
}

.onboarding_slide {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.onboarding_slide_head {
    flex: 1 0 auto;
}

.onboarding_slide_foot {
    flex-shrink: 0;
}

.onboarding_slide_title {
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}

.onboarding_slide_subtitle {
    font-weight: 600;
    text-align: center;
    font-size: 1.25rem;
}

.onboarding_slide_img_hero1 {
    position: absolute;
    z-index: -1;
    top: -134%;
    left: 56%;
    transform: translateX(-50%);
}

.onboarding_slide_img_hero2 {
    position: absolute;
    z-index: -1;
    top: -193%;
    left: 56%;
    transform: translateX(-50%);
}

.onboarding_slide_img_gameprocess {
    position: absolute;
    z-index: -1;
    top: -165%;
    left: 50%;
    transform: translateX(-50%);
}

.onboarding_slide_img_result {
    position: absolute;
    z-index: -1;
    top: -149%;
    left: 56%;
    transform: translateX(-50%);
}

.onboarding_slide_desc {
    position: relative;
    font-size: 1rem;
    color: #7472FD;
    font-weight: 600;
    padding: 1.5rem 1rem;
    background: #fff;
    border-radius: 1em;
    height: 180px;
}

.onboarding_slide_desc p {
    text-align: left;
    margin-bottom: 0;
}

.onboarding_slide_desc ul {
    padding-left: 0;
}

.onboarding_slide_desc li {
    list-style: none;
    padding-left: 1.5rem;
    background-image: url("../images/tick_icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.onboarding_slider_next {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.8rem 0;
    width: 100%;
    border-radius: 2em;
    margin-top: 2rem;
}

.onboarding_hero_img {
    height: 250px;
}

.onboarding_questions_img {
    height: 250px;
}

.onboarding_click_img {
    position: absolute;
    content: '';
    left: -9rem;
    bottom: -11rem;
    height: 300px;
}

.onboarding_click_upgrade_img {
    margin-top: 5rem;
    height: 250px;
}

.energybar {
    position: relative;
    background: #B4B1B1;
    height: 1.6rem;
    border-radius: 1em;
    width: 60%;
    margin: 0 auto;
}

.onboarding_energybar {
    margin-top: 4rem;
    z-index: -1;
}

.energybar_value {
    background: #FE881C;
    width: 60%;
    position: absolute;
    height: inherit;
    border-radius: inherit;
}

.btn-footer {
    padding: 1rem 0;
    /* padding: 0.8rem 3rem; */
    font-size: 1.8rem;
    border-radius: 2em;
    width: 45%;
    text-align: center;
}

.question {
    position: relative;
    background: #fff;
    border-radius: 1em;
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin: 2rem 2.2rem;
}

.question_title {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #23262F;
}

.question_tooltip_btn {
    position: absolute;
    content: "";
    top: -2rem;
    right: -2.5rem;
    transform: rotate(20deg);
}

.btn-answer {
    background: #CCC6F0;
    color: #23262F;
    border-color: #CCC6F0;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.4rem 1.6rem;
}

.btn-orange {
    background: #FE881C;
    color: #fff;
    text-transform: uppercase;
    border-color: #FE881C;
    font-size: 1.25rem;
    padding: 0.6rem 3rem;
    font-weight: 700;
    border-radius: 2em;
}